<% if user.errors.any? %>
  <div id="error_explanation">
    <h6 class="text-danger"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h6>
    <% user.errors.each do |error| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= error.full_message %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
<% end %>
